---
layout: default
title: ''
pageclass: frontpage
root: ./
---

<div class="span9 contentarea">
  <div class="hero-unit">
  <h2>The North American Chapter of the Association for Computational Linguistics</h2>
  <p><img width="350px" height="auto" src="{{ site.baseurl }}/images/naacl-poster-sm.jpg" alt="NAACL Poster"></p>
  </div>

  <h1>News</h1>
      <div class="more">
<!--
        {% assign years = '' %}
        {% for post in site.posts %}
            {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
            {% if year != lastyear %}
            {% capture years %}{{ years | append:' ' | append:year }}{% endcapture %}
            {% assign lastyear = year %}
            {% endif %}
        {% endfor %}
-->
        <ul class="navigate">
            {% for post in site.posts limit:5 %}
            {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
            <li><a href="{{ root }}posts/index.html#year{{ year }}">{{ year }}</a></li>
            {% endfor %}
            <li><a href="{{ root }}posts/index.html">All</a></li>
        </ul>
      </div><!--/span-->

      <div class="span9 contentarea">
        {% for post in site.posts limit:5 %}
        <h2><a href="{{ root }}{{ post.url }}">{{ post.title }}</a> <small class="date">{{ post.date | date_to_string }}</small></h2>
        {{ post.content }}
        {% endfor %}
      </div><!--/span-->
</div>

