<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>NAACL: North American Chapter of the ACL (Association for Computational Linguistics)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
    <link href="bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="extra.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="bootstrap/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="bootstrap/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="bootstrap/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="bootstrap/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="bootstrap/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="index.html">North American Chapter of the ACL</a>
          <div class="btn-group pull-right">
            <a class="btn btn-primary btn-large" href="index.html">naacl.org</a>
          </div>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="index.html">Home</a></li>
              <li><a href="about/index.html">About</a></li>
              <li><a href="contact/index.html">Contact</a></li>
              <li><a href="posts/index.html">News</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Upcoming Conferences</li>
              <li class="active"><a href="index.html">NAACL HLT 2012</a></li>
              <li><a href="index.html">ACL 2012</a></li>
              <li><a href="index.html">EACL 2012</a></li>
              <li class="nav-header">Site Navigation</li>
              <li><a href="index.html">Home</a></li>
              <li><a href="about/index.html">About</a></li>
              <li><a href="contact/index.html">Contact</a></li>
              <li><a href="posts/index.html">News</a></li>
              <li class="nav-header">Documents</li>
              <li><a href="index.html">Policies and Constitution</a></li>
              <li><a href="index.html">Minutes of Board Meetings</a></li>
              <li><a href="index.html">Archives</a></li>
              <li><a href="index.html">ACL Wiki</a></li>
              <li><a href="index.html">Join us!</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->

    {% if page.title %}
    <header class="pageheader">
        <h1>{{ page.title | inline_textile }}</h1>
    </header>
    {% endif %}
    {{ content }}

    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="bootstrap/js/jquery.js"></script>
    <script src="bootstrap/js/bootstrap-transition.js"></script>
    <script src="bootstrap/js/bootstrap-alert.js"></script>
    <script src="bootstrap/js/bootstrap-modal.js"></script>
    <script src="bootstrap/js/bootstrap-dropdown.js"></script>
    <script src="bootstrap/js/bootstrap-scrollspy.js"></script>
    <script src="bootstrap/js/bootstrap-tab.js"></script>
    <script src="bootstrap/js/bootstrap-tooltip.js"></script>
    <script src="bootstrap/js/bootstrap-popover.js"></script>
    <script src="bootstrap/js/bootstrap-button.js"></script>
    <script src="bootstrap/js/bootstrap-collapse.js"></script>
    <script src="bootstrap/js/bootstrap-carousel.js"></script>
    <script src="bootstrap/js/bootstrap-typeahead.js"></script>

  </body>
</html>
