---
layout: default
pageclass: publication
---

<p>
<ul class="publicationlinks">
{% if page.publication.url %}
<li><a href="{{ page.publication.url }}">URL</a></li>
{% endif %}
{% if page.publication.pdf %}
<li><a href="{{ page.publication.pdf }}">PDF</a></li>
{% endif %}
</ul>
</p>

<p>
{{ page.publication.html }}
</p>

{% if page.publication.abstract %}
<blockquote id="abstract">
{{ page.publication.abstract }}
</blockquote>
{% endif %}

<pre id="bibtex">
{{ page.publication.bibtex }}
</pre>
